In [13]:
# First month (in "YYYY-MM-01" format) for which we want data
START = "2014-10-01"

In [14]:
edits_by_month = run_mariadb(
    """
    select
        month,
        sum(mobile_web_edits + mobile_app_edits) as wikipedia_mobile_edits,
        sum(if(wiki = "enwiki", mobile_web_edits + mobile_app_edits, 0)) as enwiki_mobile_edits,
        sum(mobile_app_edits) as wikipedia_app_edits
    from editor_month
    inner join
        (select site_global_key
        from enwiki.sites
        where site_group = "wikipedia") wps
    on site_global_key = wiki
    where
        month >= "{start}"
    group by month
    """.format(start = START)
)

In [15]:
edits_by_month

,month,wikipedia_mobile_edits,enwiki_mobile_edits,wikipedia_app_edits
0,2014-10-01,215807.0,99778.0,53495.0
1,2014-11-01,227024.0,103310.0,60266.0
2,2014-12-01,272913.0,117718.0,72517.0
3,2015-01-01,327463.0,135430.0,89106.0
4,2015-02-01,308762.0,128694.0,81920.0
5,2015-03-01,324079.0,135854.0,88058.0
6,2015-04-01,444209.0,186080.0,92772.0
7,2015-05-01,497973.0,219736.0,94390.0
8,2015-06-01,545102.0,231977.0,97953.0
9,2015-07-01,625455.0,273163.0,104017.0
10,2015-08-01,648172.0,287753.0,109598.0
11,2015-09-01,602570.0,279669.0,100690.0
12,2015-10-01,576920.0,259136.0,109390.0
13,2015-11-01,600562.0,262328.0,108129.0
14,2015-12-01,598518.0,258391.0,118428.0
15,2016-01-01,711982.0,300603.0,125581.0
16,2016-02-01,644633.0,278450.0,114225.0
17,2016-03-01,677403.0,291529.0,123470.0
18,2016-04-01,643591.0,274540.0,109029.0
19,2016-05-01,652863.0,277337.0,88362.0
20,2016-06-01,644583.0,266032.0,93435.0
21,2016-07-01,714821.0,305745.0,104896.0
22,2016-08-01,747958.0,319866.0,106968.0
23,2016-09-01,675056.0,296452.0,94299.0
24,2016-10-01,742569.0,325776.0,93248.0
25,2016-11-01,749393.0,330732.0,90074.0
26,2016-12-01,787248.0,350311.0,88261.0
27,2017-01-01,872519.0,377633.0,85076.0
28,2017-02-01,785847.0,332575.0,72526.0
29,2017-03-01,895423.0,386380.0,84591.0
30,2017-04-01,819291.0,359752.0,81849.0
31,2017-05-01,816184.0,357712.0,84034.0
32,2017-06-01,806949.0,346656.0,81594.0
33,2017-07-01,886826.0,382019.0,83384.0
34,2017-08-01,952378.0,399603.0,84192.0
35,2017-09-01,863807.0,366213.0,76036.0
36,2017-10-01,938436.0,401901.0,80361.0
37,2017-11-01,928294.0,396453.0,75150.0

In [ ]:
main_ns_edits = multiquery(
    """
    select
        database() as wiki,
        left(coalesce(rev_timestamp, ar_timestamp), 6) as month,
        count(*) as all_edits,
        sum(coalesce(page_namespace, ar_namespace) = 0) as main_ns_edits
    from tag_summary
    left join revision
        on ts_rev_id = rev_id
    left join archive 
        on ar_rev_id = rev_id
    left join page
        on rev_page = page_id
    where 
        ts_tags like "%mobile%" and 
        coalesce(rev_timestamp, ar_timestamp) >= "{start}"
    group by left(coalesce(rev_timestamp, ar_timestamp), 6);
    """.format(start = START.replace("-", "")),
    wikis = list_wikis_by_group("wikipedia")
)

aawiki completed in 0 s
/home/neilpquinn-wmf/venv/lib/python3.4/site-packages/pandas/indexes/api.py:71: RuntimeWarning: unorderable types: int() < str(), sort order is undefined for incomparable objects
  result = result.union(other)
abwiki completed in 0 s
acewiki completed in 1 s
adywiki completed in 0 s
afwiki completed in 1 s
akwiki completed in 0 s
alswiki completed in 0 s
amwiki completed in 0 s
angwiki completed in 0 s
anwiki completed in 0 s
arcwiki completed in 0 s

In [23]:
main_ns_edits

       0     wiki   month  all_edits  main_ns_edits
0    NaN      NaN     NaN        NaN            NaN
1    NaN      NaN     NaN        NaN            NaN
2    NaN      NaN     NaN        NaN            NaN
3    NaN      NaN     NaN        NaN            NaN
4    NaN   abwiki  201501        1.0            1.0
5    NaN   abwiki  201502        4.0            4.0
6    NaN   abwiki  201504       10.0            9.0
7    NaN   abwiki  201506        2.0            2.0
8    NaN   abwiki  201507        1.0            1.0
9    NaN   abwiki  201511        1.0            1.0
10   NaN   abwiki  201512        1.0            1.0
11   NaN   abwiki  201602        1.0            1.0
12   NaN   abwiki  201603        3.0            1.0
13   NaN   abwiki  201607        1.0            1.0
14   NaN   abwiki  201608        1.0            0.0
15   NaN   abwiki  201609        1.0            0.0
16   NaN   abwiki  201612        1.0            1.0
17   NaN   abwiki  201702        1.0            0.0
18   NaN   abwiki  201703        2.0            0.0
19   NaN   abwiki  201705        1.0            0.0
20   NaN   abwiki  201706        2.0            1.0
21   NaN   abwiki  201707        3.0            0.0
22   NaN   abwiki  201709        1.0            0.0
23   NaN   abwiki  201710        2.0            1.0
24   NaN   abwiki  201711        2.0            0.0
25   NaN   abwiki  201712        1.0            1.0
26   NaN  acewiki  201411        1.0            1.0
27   NaN  acewiki  201501       16.0           16.0
28   NaN  acewiki  201502        7.0            7.0
29   NaN  acewiki  201504        1.0            1.0
...   ..      ...     ...        ...            ...
7704 NaN   zhwiki  201611    28210.0        27542.0
7705 NaN   zhwiki  201612    27951.0        27007.0
7706 NaN   zhwiki  201701    31441.0        29868.0
7707 NaN   zhwiki  201702    32180.0        30243.0
7708 NaN   zhwiki  201703    36641.0        35072.0
7709 NaN   zhwiki  201704    34655.0        33278.0
7710 NaN   zhwiki  201705    34901.0        33117.0
7711 NaN   zhwiki  201706    34874.0        33226.0
7712 NaN   zhwiki  201707    35809.0        33862.0
7713 NaN   zhwiki  201708    41776.0        39668.0
7714 NaN   zhwiki  201709    37427.0        34908.0
7715 NaN   zhwiki  201710    43265.0        40385.0
7716 NaN   zhwiki  201711    39921.0        38021.0
7717 NaN   zhwiki  201712    11006.0        10183.0
7718 NaN   zuwiki  201503        5.0            5.0
7719 NaN   zuwiki  201509        1.0            0.0
7720 NaN   zuwiki  201603        3.0            3.0
7721 NaN   zuwiki  201605        6.0            4.0
7722 NaN   zuwiki  201606        1.0            0.0
7723 NaN   zuwiki  201610        2.0            2.0
7724 NaN   zuwiki  201701        6.0            6.0
7725 NaN   zuwiki  201702        3.0            2.0
7726 NaN   zuwiki  201703        1.0            1.0
7727 NaN   zuwiki  201705        3.0            3.0
7728 NaN   zuwiki  201706        1.0            1.0
7729 NaN   zuwiki  201707        4.0            4.0
7730 NaN   zuwiki  201708       45.0           21.0
7731 NaN   zuwiki  201709       14.0            1.0
7732 NaN   zuwiki  201710        5.0            4.0
7733 NaN   zuwiki  201711        5.0            5.0

[7734 rows x 5 columns]

In [27]:
# We have some initial `NaN` rows because there were no edits at all in aawiki.
# I'm not sure why there's an initial column of NaNs, but I can clean it easily.
main_ns_edits.drop(0, axis = "columns", inplace = True)

In [36]:
# Group by month and sum, removing partial data for December 2017
mobile_article_edits = main_ns_edits.groupby("month").aggregate({
        "main_ns_edits": np.sum
    }).drop("201712")

In [39]:
mobile_article_edits = mobile_article_edits.reset_index()

In [40]:
mobile_article_edits.head(n = 5)

    month  main_ns_edits
0  201410       195540.0
1  201411       206544.0
2  201412       247379.0
3  201501       296465.0
4  201502       277349.0

In [46]:
mobile_article_edits["month"] = pd.to_datetime(mobile_article_edits["month"], format = "%Y%m")

In [48]:
edits_by_month["month"] = pd.to_datetime(edits_by_month["month"], format = "%Y-%m-%d")

In [52]:
mobile_edits = mobile_article_edits.merge(edits_by_month, on = "month")

In [54]:
mobile_edits.head()

,month,main_ns_edits,wikipedia_mobile_edits,enwiki_mobile_edits,wikipedia_app_edits
0,2014-10-01,195540.0,215807.0,99778.0,53495.0
1,2014-11-01,206544.0,227024.0,103310.0,60266.0
2,2014-12-01,247379.0,272913.0,117718.0,72517.0
3,2015-01-01,296465.0,327463.0,135430.0,89106.0
4,2015-02-01,277349.0,308762.0,128694.0,81920.0

In [55]:
mobile_edits["non_article_edits"] = mobile_edits["wikipedia_mobile_edits"] - mobile_edits["main_ns_edits"]

In [56]:
mobile_edits["non_enwiki_edits"] = mobile_edits["wikipedia_mobile_edits"] - mobile_edits["enwiki_mobile_edits"]

In [57]:
mobile_edits.head()

,month,main_ns_edits,wikipedia_mobile_edits,enwiki_mobile_edits,wikipedia_app_edits,non_article_edits,non_enwiki_edits
0,2014-10-01,195540.0,215807.0,99778.0,53495.0,20267.0,116029.0
1,2014-11-01,206544.0,227024.0,103310.0,60266.0,20480.0,123714.0
2,2014-12-01,247379.0,272913.0,117718.0,72517.0,25534.0,155195.0
3,2015-01-01,296465.0,327463.0,135430.0,89106.0,30998.0,192033.0
4,2015-02-01,277349.0,308762.0,128694.0,81920.0,31413.0,180068.0

In [60]:
cols = [
    "month", "wikipedia_mobile_edits", 
    "main_ns_edits", "non_article_edits", 
    "enwiki_mobile_edits", "non_enwiki_edits",
    "wikipedia_app_edits"
]

mobile_edits[cols].set_index("month")

,wikipedia_mobile_edits,main_ns_edits,non_article_edits,enwiki_mobile_edits,non_enwiki_edits,wikipedia_app_edits
month,,,,,,
2014-10-01,215807.0,195540.0,20267.0,99778.0,116029.0,53495.0
2014-11-01,227024.0,206544.0,20480.0,103310.0,123714.0,60266.0
2014-12-01,272913.0,247379.0,25534.0,117718.0,155195.0,72517.0
2015-01-01,327463.0,296465.0,30998.0,135430.0,192033.0,89106.0
2015-02-01,308762.0,277349.0,31413.0,128694.0,180068.0,81920.0
2015-03-01,324079.0,292930.0,31149.0,135854.0,188225.0,88058.0
2015-04-01,444209.0,408335.0,35874.0,186080.0,258129.0,92772.0
2015-05-01,497973.0,462114.0,35859.0,219736.0,278237.0,94390.0
2015-06-01,545102.0,498196.0,46906.0,231977.0,313125.0,97953.0
2015-07-01,625455.0,572793.0,52662.0,273163.0,352292.0,104017.0
2015-08-01,648172.0,590029.0,58143.0,287753.0,360419.0,109598.0
2015-09-01,602570.0,548630.0,53940.0,279669.0,322901.0,100690.0
2015-10-01,576920.0,531056.0,45864.0,259136.0,317784.0,109390.0
2015-11-01,600562.0,550281.0,50281.0,262328.0,338234.0,108129.0
2015-12-01,598518.0,549076.0,49442.0,258391.0,340127.0,118428.0
2016-01-01,711982.0,649305.0,62677.0,300603.0,411379.0,125581.0
2016-02-01,644633.0,588632.0,56001.0,278450.0,366183.0,114225.0
2016-03-01,677403.0,616193.0,61210.0,291529.0,385874.0,123470.0
2016-04-01,643591.0,589613.0,53978.0,274540.0,369051.0,109029.0
2016-05-01,652863.0,595650.0,57213.0,277337.0,375526.0,88362.0
2016-06-01,644583.0,589260.0,55323.0,266032.0,378551.0,93435.0
2016-07-01,714821.0,653048.0,61773.0,305745.0,409076.0,104896.0
2016-08-01,747958.0,692381.0,55577.0,319866.0,428092.0,106968.0
2016-09-01,675056.0,627635.0,47421.0,296452.0,378604.0,94299.0
2016-10-01,742569.0,681730.0,60839.0,325776.0,416793.0,93248.0
2016-11-01,749393.0,681827.0,67566.0,330732.0,418661.0,90074.0
2016-12-01,787248.0,711575.0,75673.0,350311.0,436937.0,88261.0
2017-01-01,872519.0,792738.0,79781.0,377633.0,494886.0,85076.0
2017-02-01,785847.0,712294.0,73553.0,332575.0,453272.0,72526.0
2017-03-01,895423.0,809898.0,85525.0,386380.0,509043.0,84591.0
2017-04-01,819291.0,743874.0,75417.0,359752.0,459539.0,81849.0
2017-05-01,816184.0,742869.0,73315.0,357712.0,458472.0,84034.0
2017-06-01,806949.0,735992.0,70957.0,346656.0,460293.0,81594.0
2017-07-01,886826.0,807500.0,79326.0,382019.0,504807.0,83384.0
2017-08-01,952378.0,860383.0,91995.0,399603.0,552775.0,84192.0
2017-09-01,863807.0,780120.0,83687.0,366213.0,497594.0,76036.0
2017-10-01,938436.0,852039.0,86397.0,401901.0,536535.0,80361.0
2017-11-01,928294.0,839985.0,88309.0,396453.0,531841.0,75150.0